---
import Pagination from "../../components/server/Pagination"
import MainLayout from "../../layouts/MainLayout.astro"
export const prerender = false

const page = Number(new URL(Astro.request.url).searchParams.get("p")) || 0

const result = await fetch(
	`https://pokeapi.co/api/v2/pokemon/?offset=${page * 20}&limit=20`
)
const pokemons = await result.json()

const images: Record<string, string> = {}

pokemons.results.forEach((pokemon: any) => {
	const url = (pokemon.url as string).split("/")
	images[pokemon.name] = url[url.length - 2]
})
---

<MainLayout title="Pokédex">
	<Pagination currentPage={page} pages={Math.floor(pokemons.count / 20)} />
	<div class="h-4"></div>
	<!-- Tous les pokémons -->
	<div class="flex flex-wrap items-stretch gap-2">
		{
			pokemons.results.map((pokemon: any) => (
				<a
					href={`/pokemons/${pokemon.name}`}
					class="border border-indigo-500 rounded-lg shadow-md shadow-indigo-800"
				>
					<span class="flex items-center">
						<h3>{pokemon.name}</h3>
						<img
							src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${images[pokemon.name]}.png`}
							width="64px"
							height="64px"
						/>
					</span>
				</a>
			))
		}
	</div>
</MainLayout>
