---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Welcome back!">
	<ul>
		<li class="drop">
			Visit the <a class="wavy" href="/pokemons">Pokemons Zoo</a>
		</li>
		<li class="drop">
			Read the <a class="wavy" href="/anomalies">Anomaly Database</a>
		</li>
	</ul>
</MainLayout>
