---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Welcome back!">
	<ul>
		<li>Visit the <a href="/pokemons">Pokemons Zoo</a></li>
		<li>Read the <a href="/anomalies">Anomaly Database</a></li>
	</ul>
</MainLayout>
