---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page d'accueil">
  <div class="card">
    <h2>Sign in with Hugging Face to access Hugging Chat</h2>
    <a
      ><img
        src="https://huggingface.co/datasets/huggingface/badges/resolve/main/sign-in-with-huggingface-sm.svg"
      /></a
    >
  </div>
</MainLayout>
