---
import { db } from "astro:db"
import { ScpDescription } from "astro:db"
import ScpPrompt from "../../components/ScpPrompt"
import MainLayout from "../../layouts/MainLayout.astro"
import ScpList from "../../components/anomalies/ScpList"

export const prerender = true
---

<MainLayout title="Make your own anomaly!">
	<div class="card">
		<h1>Create an anomaly</h1>
		<ScpPrompt client:load />
	</div>

	<hr />

	<div class="card">
		<h1>Anomaly Database</h1>
		<ScpList client:load />
	</div>
</MainLayout>
